<div>

<div part="welcome" arrow="left" target="#gui-Button-slidein">
  <h4><center>Welcome to the tutorial!<br/>Tap anywhere on the map to proceed</center></h4>
</div>
<div part="menu">
  Tap here to open the main menu
</div>
<div part="new_game">
  Lets start a new quiz. Tap on 'New game'
</div>
<div part="find_location">
  The game has started you will see the location to find up here.
  Try to tap on its location on the map.
</div>
<div part="round_summary">
  Once you have tapped on a location you will see some information about
  the current round here, such as how many points you earned etc.
</div>
<div part="more_info">
  This button lets you access additional information about this location.
  This feature might require an internet connection.
</div>
<div part="next_round">
  Tap here to continue to next round.
</div>
<div part="last_round_complete">
  The quiz has finished and the game has entered "Explore Mode": now you can
  explore the map and tap on any of the locations to find out more about them.
</div>
<div part="zoomout">
  This is the zoom out button..
</div>
<div part="zoomin">
  ..this is the zoom in button..
</div>
<div part="zoom_default">
  ..and this button sets the map back to default zoom.
</div>
<div part="menu2">
  Tap here to open the main menu again.
</div>
<div part="locations">
  You can quiz yourself on different types of locations and maps.
  You can select them by tapping on 'Locations'.
</div>
<div part="language">
  You may change the language of this App by tapping on 'Language'.
</div>
<div part="menu_close">
  Close the menu by tapping on the menu title here.
</div>
<div part="explore_mode">
  Enter Explore Mode:<br/>This will allow you to enter explore mode.
</div>
<div part="the_end">
  <h4><center>This concludes the tutorial.<br/><br/>
  Have fun with Map Quiz!</center></h4>
</div>

<div part="test">
  Tap anywhere on the map to continue.
</div>

</div>